
@{
    ViewBag.Title = "Error404";
}

<div class="row m-3">
    <div class="col-3"></div>
    <div class="col-6 text-center">
        <h3 style="color:red;"> Nessuna denuncia con questo oggetto</h3>
        <div>
            <img src="~/CSS/undraw_Page_not_found_re_e9o6.png" alt="Alternate Text" />
        </div>
    </div>
    <div class="col-3"></div>
</div>
